* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.8em;
}

body {
  background-color: #ef5350;
}

.page-container {
  width: 400px;
  margin: 0 auto;
}

.control-panel {
  height: 400px;
  background: white;
  padding: 2em 1em;
  border-radius: 3%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  /*display: flex;
  flex-direction: row;*/
}

.half-panel {
  width: 50%;
  display: inline-block;
}

.time {
  display: flex;
  flex-direction: row;
}

.time-input {
  margin: 0 8px;
  width: calc(50% - 16px);
  height: 5em;
  display: inline-block;
  background-color: blue;
}

input  {
  width: 100%;
  height: 100%;
}

.input-field {
  width: 100%;
  margin-top: 30px;
  box-sizing: border-box;
  text-align: center;
}

.input-labels {
  width: 100%;
  font-size: 0.8em;
  color: #bdbdbd;
  text-align: center;
}

.half-input {
  display: inline-block;
  width: 80px;
}

select {
  width: 80px;
  height: 80px;
  font-size: 24px;
  background: white;
  display: inline-block;
  text-align: center;
}

.text-between {
  width: calc(100% - 80px);
  margin: 30px 30px 10px 30px;
  font-size: 0.8em;
  color: #bdbdbd;
  text-align: center;
}

.result-container {
  width: calc(100% - 60px);
  margin: 20px 30px 0 30px;
  font-size: 48px;
  text-align: center;
}

.instructions {
  font-size: 1.2em;
  color: #d50000;
  margin-top: 64px;
  text-align: center;
  /*text-transform: uppercase;*/
}

/*Watt Switch*/
.watt-switch {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.watt-button {
  width: calc(50% - 16px);
  margin: 0 8px;
  padding: 6px;
  background-color: grey;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.wattage {
  text-align: right;
  color: #ef5350;
}

.active {
  /*border: 2px solid #ff1744;*/
  border: 2px solid #ef5350;
  background-color: #f44336 ;
  font-size: 1.1em;
  /*background-color: #ef5350;*/

  font-weight: bold;
  color: white;
}
