<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Watts App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="./javascripts/application.js"></script>
    <script src="./javascripts/thermostats.js"></script>
    <link rel="stylesheet" href="./stylesheets/app.css">
  </head>
  <body ng-app="wattsApp">
    <div class="page-container">
      <h1>Watts App</h1>
      <h2>Convert 1100 watt and 700 watt microwave times</h2>
      <div ng-controller="ThermostatController">
        <div class="control-panel">

          <!-- Wattage Switch -->
          <div class="watt-switch">

          </div>

          <!-- Input Field -->
          <div class="input-field">
            <div class="half-input">
              <select ng-model="minutesSelected">
                <option ng-repeat="minutes in minutesOptions" value="{{ minutes }}">
                  {{ minutes }}
                </option>
              </select>
            </div>
            <div class="half-input">
              <select ng-model="secondsSelected">
                <option ng-repeat="seconds in secondsOptions" value="{{ seconds }}">
                  {{ seconds }}
                </option>
              </select>
            </div>
          </div>

          <!-- Text Between -->
          <div class="text-between">
            is
          </div>

          <!-- Result -->
          <div class="result-container">
            {{ convertedTime }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
