<!DOCTYPE html>
<html>
  <head>
    <!-- Google Analytics  -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113879793-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113879793-1');
    </script>

    <!-- AdSense Script -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3408857061501900",
        enable_page_level_ads: true
      });
    </script>

    <!-- Favicon -->
    <link rel=icon type="image/png" href=./images/microwave.png>

    <meta charset="utf-8">
    <title>Watts App - Convert Microwave Times</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="./javascripts/application.js"></script>
    <script src="./javascripts/thermostats.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="./app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
  </head>
  <body ng-app="wattsApp">
    <div class="page-container">
      <div class="title">
        <h1>Watts App</h1>
      </div>
      <div class="sub-title">
        <h4>convert microwave times</h4>
      </div>
      <div ng-controller="ThermostatController">
        <div class="control-panel">
          <div class="sub-title">
            <h4>Choose your conversion</h4>
          </div>
          <!-- Wattage Switch -->
          <div class="watt-switch">
            <div class="watt-button" ng-class="{ 'active' : conversionTo === '1100' }" ng-click="toElevenHundred()">
              700 watt <br>
                to <br>
              1100 watt
            </div>
            <div class="watt-button" ng-class="{ 'active' : conversionTo === '700' }" ng-click="toSevenHundred()">
              1100 watt <br>
              to <br>
              700 watt
            </div>
          </div>

          <div class="sub-title">
            <h4>Enter the time</h4>
          </div>

          <!-- Input Field -->
          <div class="input-field">
            <div class="half-input">
              <select ng-model="minutesSelected" ng-init="setValues()">
                <option ng-repeat="minutes in minutesOptions" value="{{ minutes }}">
                  {{ minutes }}
                </option>
              </select>
            </div>
            <div class="half-input">
              <select ng-model="secondsSelected"
                      ng-init="setValues()">
                <option ng-repeat="seconds in secondsOptions"
                        value="{{ seconds }}">
                  {{ seconds }}
                </option>
              </select>
            </div>
          </div>

          <div class="input-labels">
            <div class="half-input minutes-label">
              minutes
            </div>
            <div class="half-input seconds-label">
              seconds
            </div>
          </div>

          <div class="wattage">
            at {{ conversionFrom }} watts
          </div>

          <div class="sub-title">
            <h4>Result</h4>
          </div>

          <!-- Result -->
          <div class="result-container" ng-if="validTime">
            {{ convertedTime }}
          </div>
          <div class="instructions" ng-if="!validTime">
            Please enter a time between<br> 00:05 and 10:00.
          </div>

          <div class="wattage" ng-if="validTime">
            at {{ conversionTo }} watts
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
